{# Template for home page of user #}
{% extends "home_base.html" %}

{% spaceless %}

{% block feeds %}
<link rel="alternate" type="application/rss+xml" title="User Feeds" href="/feeds/user/{{u_id}}" />
{% endblock feeds %}


{% block entries%}
<h2 id="latestentries">Latest Sols of {{ nickname }}</h2>
<table class="soltable"><tbody>
    {% for sol in query_list %}
	<tr class="solrow">
		<td class="solauthor">
                <a href="{{ sol.get_author_url }}">
                        <img src="{{sol.get_author_avatar_url}}" alt="{{sol.get_author_nickname}}"/>
                </a>
		<a href="{{sol.get_author_url}}"> {{sol.get_author_nickname}} </a>
		</td>
		<td class="solentry">{{ sol.body }} <br/>
		about {{ sol.date|timesince}} ago

		{% if sol.group.desc %}
		in <a href="{{ sol.group.get_absolute_url }}"> {{ sol.group.desc }}
		{% endif %}
		</td>


	</tr>
    {% endfor %}
</tbody></table>
{% endblock entries%}

{% block paginate %}
<div class="paginate">
{% if has_previous %}
	<a href='/u/{{u_id}}/p/{{ previous_page }}'>Previous</a>
	{% if has_next %} | {% endif %}
{% endif %}

{% if has_next %} <a href='/u/{{ u_id }}/p/{{ next_page }}/'>Next</a>  {% endif %}
</div>
{% endblock paginate %}
{% endspaceless %}