{# Template for home page for sol; it lists all the sols #}
{% extends "home_base.html" %}

{% spaceless %}

{% block extramenu %}
<li>

{% if user.is_authenticated %}
	<a href="/logout" title="log off">Logoff</a>
	<a href="/profile" title="user profile">Profile</a>
{% else %}
	<a href="/login" title="login">Login</a>
{% endif %}
</li>
{% endblock %}


{% block newsol %}
{% if user.is_authenticated %}
<div class="form">
	<form action="/createsol/" method="post" enctype="multipart/form-data">
	  <table>
		{{ solForm }}
	  </table>
	  <input type="submit" value="Update" />
	</form>
</div>	
{% endif %}
{% endblock newsol%}

{% block entries%}
<h2 id="latestentries">Latest Sols</h2>
<table class="soltable"><tbody>
    {% for sol in query_list %}
	<tr class="solrow">
		<td class="solauthor">
                <a href="{{ sol.get_author_url }}">
                        <img src="{{ sol.get_author_avatar_url }}" alt="{{ sol.get_author_nickname }}"/>
                </a>
		<a href="{{ sol.get_author_url }}"> {{ sol.get_author_nickname }} </a>		
		</td>
		<td class="solentry">{{ sol.body }}
		</td>
                <td class="solgroup"> <a href="{{ sol.group.get_absolute_url }}"> {{ sol.group.desc }} </a>
                </td>
	</tr>
    {% endfor %}
</tbody></table>	
{% endblock entries%}

{% block paginate %}
<div class="paginate">
{% if has_previous %} 
	<a href='/p/{{ previous_page }}'>Previous</a>  
	{% if has_next %} | {% endif %} 
{% endif %} 

{% if has_next %} <a href='/p/{{ next_page }}/'>Next</a>  {% endif %}
</div>
{% endblock paginate %}

{% endspaceless %}