/* .............................. */
/* Stylesheet for Sol      */
/* Author: Joseph	              */
/* id = style for a unique element in a page; defined as # */
/* class = style for group of elements; defined as . */
/* .............................. */


body
{
	background-color: #36393D;
	color: #000000;
	font-size: 10px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	letter-spacing: 0.5px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

html, body
{
	min-height: 100.1%;
}

/* .............................. */
/* Content*/
/* .............................. */

#container
{
	margin: 10pt auto;
	padding:8px 0pt;
	position:relative;
	text-align:left;
	width:700px;
	background-color:#C3D9FF;
}


#content
{
	margin: 10pt auto;
	padding:8px 0pt;	
}

#photo
{
	background: #eee;
	padding: 5px;
	border: 1px solid #515151;
}



/* .............................. */
/* Links */
/* .............................. */

a
{
	color: #B02B2C;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

/* .............................. */
/* Headings */
/* .............................. */

h1
{
	float: left;
	clear: left;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	color: #D01F3C;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}

h1 a
{
	text-decoration: none;
	color: #D01F3C;
}

h1 a:hover
{
	text-decoration: none;
}

.title
{
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 1px;
	color: #eee;
	margin: 0px;
	margin-bottom: 5px;
	margin-left: 15px;
	padding: 0px;
}

h2
{
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 1px;
	color: #000000;
	text-align: center;
}

/* .............................. */
/* sol form */
/* .............................. */

input { /* type selector */
  border: 1px solid black;
}

input[type="submit"] { /* class selector */
  border: 1px solid black;
}

/* .............................. */
/* Menu */
/* .............................. */


#menu li
{
	display:block;
	float:right;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
}

#menu a
{
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: underline;
	color: #B02B2C;
}

#menu a:hover
{
	text-decoration: none;
	color: #111;
}

/* .............................. */
/*  sol body				*/
/* .............................. */

.form
{
	margin-left: 10px;
}

.soltable
{
	empty-cells:show;
	margin-bottom:8px;
	table-layout:fixed;
	width:700px;
}

.solrow
{
	background-color: #ffffff;
}

.solauthor
{
	width: 10%;
}


.solauthor a
{
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: underline;
	color: #B02B2C;
}

.solauthor a:hover
{
	text-decoration: none;
	color: #111;
}

.solentry
{
	font-size:12px;
	padding:2px 0pt 3px;
	text-align: left;
}

.soldate
{
	width:25%;
}

/* .............................. */
/* Footer */
/* .............................. */

#footer
{
	border-top: 1px dashed #838D7A;
	clear: both;
	margin: 20px auto 0px;
	padding: 10px 0px;
	text-transform: uppercase;
	width: 700px;	
	color:#487858;
	font-family: Verdana,sans-serif;
	line-height:1.4em;
}


#footer li
{
	display:block;
	float: left;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
}

#footer a
{
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: underline;
	color: #B02B2C;
}

#footer a:hover
{
	text-decoration: none;
	color: #111;
}
